[user]
  name = Connor Worley
  email = connorbworley@gmail.com
[core]
  excludesfile = ~/.gitignore_global
[branch]
  autosetuprebase = always
[credential]
  helper = convert-to-ssh
  helper = lastpass

